
@font-face {
    font-family: "recipe_korea";
    src: url(../fonts/Recipekorea.ttf);
}

@font-face {
    font-family: "nanum_gothic_yethangul";
    src: url(../fonts/NanumBarunGothic-YetHangul.ttf);
}