<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/fontloader.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5d8cd5bb091fd36627885e1adddfb8aa&libraries=services"></script>
    <script type="text/javascript" th:src="@{js/main.js}"></script>
    <title>Metro-inder</title>
</head>
<body>
    <header>
        <div class="header_btn_shared icon_wrapper" onclick="location.href = '/'"></div>
        <h2 class="unselectable" onclick="location.href = '/'">Metro-inder</h2>
        <div class="header_divider"></div>
        <button class="header_btn_shared marker_on_btn" onclick="setMarkerVisible(true)"></button>
        <button class="header_btn_shared marker_off_btn" onclick="setMarkerVisible(false)"></button>
    </header>
    <div class="mapview">
        <div class="expendarea">
            <div class="userbox">
                <div class="userbox_input_wrapper">
                    <button class="userbox_search_btn"></button>
                    <input class="userbox_input" type="text" placeholder="역명을 입력해주세요. (예: 인덕원역, 안양역)" onkeydown="if(event.keyCode === 13){searchPlaces(this.value); this.value = '';}">
                </div>
            </div>
            <canvas class="info_graph" width="480px" height="240px">당신의 브라우저가 캔버스를 지원하지 않습니다.</canvas>
            <button class="expendbtn" onclick="toggleSide()">
                <div class="expendbtn_icon_wrapper"></div>
            </button>
        </div>
    </div>
</body>
</html>